@import "_variables.scss";

$fa-font-path:  "../fonts";

//vendor:
@import "node_modules/@cmyee/pushy/scss/pushy.scss";
@import "node_modules/components-font-awesome/scss/fontawesome.scss";
@import "node_modules/components-font-awesome/scss/fa-solid.scss";
@import "node_modules/components-font-awesome/scss/fa-brands.scss";
@import "node_modules/components-font-awesome/scss/fa-regular.scss";
@import "node_modules/mdi/scss/materialdesignicons.scss";
//endvendor

html {
  font-size: 18px;
  section, header, footer {
    width: 100%;
  }
  color: $text-color;

  body {
    margin: 0;
    padding: 0;
    background-color: $body-bg;
  }
}



header, footer {
    .container {
        background-color: black;
    }
    background-color: black;
}

header {
    padding-bottom: 15px;
}

.logo {
  margin-top: $marginMobile;
  &.interna {
    margin-bottom: $marginMobile;
    h1 {
      margin: 0;
    }
  }
}

#menu-full-page, #main-slide {
  display: none;
}

#section-logo {
  display: none;
  img {
    margin-top: 15px;
  }
}



#section-divider {
  margin-top: -7px;
}

.divider {
  display: block;
  width: 100%;
  height: 3px;
  background-color: $red;
  &.interna {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: $palette-gris;
    height: 1px;
  }
}

.container {
  background-color: #F8F8F8;
}

#tornei {
    img {
        margin-top: 60px;
    }

}

#location {
    h1 {
        margin-top: 60px;
    }

    .container {
        padding-bottom: 60px;
    }
}

#container {


  .menu-btn {
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: transparent;
    padding: 0;
    margin-top: $marginMobile;
    margin-bottom: $marginMobile;
    color: white;
  }

  h1 {
    font-family: $font-family;
    font-weight: 700;
    font-size: 32px;
    &.display-less {
      font-size: 30px;
    }
    color: #999;
    margin-top: 60px;
  }

  h2 {
    font-family: $font-family;
    font-weight: 400;
    font-size: 28px;
    color: $text-color;
  }

  h3 {
    font-family: $font-family;
    font-weight: 600;
    font-size: $font-size-h3;
    &.display-less {
      font-size: $font-size-h3-less;
    }
    margin-bottom: 0;
    color: $text-color;
  }

  p {
    font-family: $font-family;
    font-weight: 400;
    font-size: $font-size-p;
    &.display-less {
      font-size: $font-size-p-less;
    }
    color: $text-color;
  }

  .privacy {
    p {
      color: white;
    }
    a {
      color: white;
    }
  }

}

#main-slide {
  z-index: 0;
  position: absolute;
  img {
    max-height: 800px;
    width: auto;
    margin: 0 auto;
  }
}

.navbar {
  background-color: transparent;
  font-size: 1rem;
  font-weight: 600;
  font-family: $font-family;

}
.navbar, .nav-link {
  padding: 0;
}

.nav-item, .dropdown {
  margin-left: 30px;
  a {
      color: white;
  }
  ul li a {
      color: $text-color;
      padding-left: 15px;
  }
}

.dropdown-menu {
    top: 142%;
}

.sopra-slide {

  .navbar {
    text-transform: uppercase;
  }

.navbar, a.nav-link  {
    color: white;
}



  .owl-prev, .owl-next {
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    height: 70px;
    width: 50px;
  }
  .owl-prev {
    background-image: url("/images/arrow-l.png");
    margin-right: 20px;
    margin-left: -15px;
  }
  .owl-next {
    background-image: url("/images/arrow-r.png");
  }
  .bottoni-main-slide {
    position: absolute;
    bottom: 50px;
    display: none;
  }
}

#chi-siamo {
  img {
    margin-top: 0.9375rem;
  }
}

#descrizione {
  h2 {
    padding-top: 30px;
    padding-bottom: 15px;
  }
}

#panoramica {
  display: block;
  .container-fluid {
    padding: 0;
    overflow: hidden;
    text-align: center;
    img {
      max-height: 300px;
      width: auto;
      margin-left: -50%;
    }
  }
}

#dettagli {
  .container {
    padding-top: 2.813rem;
    padding-bottom: 2.813rem;
  }
  label {
    font-weight: 600;
  }
}

#gallery {
  .col-md-5, .col-sm-12, .col-md-7 {
    padding-bottom: 30px;
  }
}

#ultime-news {
  .container {
    padding-top: 0.9375rem;
  }

  .card {
    margin-top: 1.125rem;
    // box-shadow: 0 0.1875rem 0.375rem rgba(0,0,0,0.16), 0 0.1875rem 0.375rem rgba(0,0,0,0.23);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  .card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .card-image {
    height: 322px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 0;
      width: auto;
      height: inherit;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .card-body {
    position: relative;
  }
  .card-title-description {
    margin: 0 calc(-1.125rem - 0.1875rem);
    padding: 0 calc(1.125rem + 0.1875rem);
    padding-bottom: 1.125rem;
    border-bottom: 1px solid rgba(0,0,0,.333);
  }
  .body-text {
    padding-top: 1.125rem;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 1.563rem solid transparent;
    border-bottom: 1.563rem solid transparent;
    border-left: 1.563rem solid gray;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg); /* Standard syntax */
    position: absolute;
    bottom: -0.6875rem;
    right: 0.125rem;
  }
  .owl-stage-outer {
    padding: 0.8rem;
    margin: -0.8rem;
    padding-bottom: 1.5rem;
  }
  .owl-carousel .owl-nav {
    position: relative;
  }
  .owl-prev, .owl-next {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
  }
  .owl-carousel .owl-nav .owl-prev {
    margin-right:10px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .owl-carousel .owl-nav .owl-next {
    position: absolute;
    top: 0;
    right: 0;
  }
  .owl-next, .owl-prev {
    margin-top: 0.125rem;
    font-size: 1.875rem;
  }
  .mdi-plus-circle-outline:before {
    font-size: 2.5rem;
    margin-top: 0;
  }
  a {
    color: $text-color;
  }
  .d-flex {
    padding-bottom: 1rem;
  }
  #offerte-owl {
    &.interna {
      padding-bottom: 90px;
    }
  }
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

#footer {
    background-color: black;
    .container {
      background-color: black;
      p {
          color: white;
      }
    }
    a {
        color: white;
    }
    position: relative;
    .contatti {
        padding-bottom: 3.875rem;
        padding-top: 3.875rem;
      #social-mobile {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 3.875rem;
        margin-bottom: 3.875rem;
      }

      p {
        margin-bottom: 0.25rem;
      }

      .col-md-2, .col-2 {
        position: relative;
        img {
          height: 35px;
          width: 35px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          &.social {
            display: none;
            left: 20%;
            height: 45px;
            width: 45px;
          }
        }
      }
    }
    .mappa {
      background-color: white;
      height:484px;
    //   padding-left: 15px;
    //   padding-right: 15px;
      #map {
          width: 100%;
          height: 100%;
      }
    }
}
.privacy {
  background-color: $palette-gris;
  .container {
    background-color: $palette-gris;
  }
  color: white;
  padding: 1rem 0;
  p {
    margin-bottom: 0;
  }

}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
  #panoramica {
    .container-fluid {
      img {
        margin-left: -25%;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  #footer {
      .contatti {
          #social-mobile {
            text-align: left;
            margin-top: 1.5rem;
          }
      }
      .mappa {
        position:absolute;
        top:0;
        left:50%;
        right:0;
        height: 400px;
        overflow: hidden;
      }
  }
  #panoramica {
    .container-fluid {
      img {
        max-height: 400px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

    #container {
        h1 {
            font-size: $font-size-h1;
            &.display-less {
              font-size: $font-size-h1-less;
            }
        }
        h2 {
            font-size: $font-size-h2;
        }
    }

  html {
    font-size: 18px;
  }
  .menu-btn {
    display: none;
  }
  #menu-full-page, #main-slide {
    display: block;
  }
  #section-logo {
    display: inline-block;
    position: relative;
  }
  .sopra-slide {
    height: 800px;
    position: relative;
    background-color: transparent;
    .bottoni-main-slide {
      display: inline-block;
    }
  }
  #mapinterna {
    height: 400px;
  }
  #footer {
    .contatti {
      #social-mobile {
        display: none;
      }
      .col-md-2, .col-2 {
        img {
          &.social {
            display: inline-block;
          }
        }
      }
    }
    .mappa {
      height: 400px;
    }
  }
  #panoramica {
    .container-fluid {
      img {
        max-height: 500px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  #panoramica {
    .container-fluid {
      img {
        max-height: 600px;
        margin-left: -10%;
      }
    }
  }
  #descrizione {
    h2 {
      padding-top: 60px;
    }
  }
}

@media (min-width: 1400px) {
  #panoramica {
    .container-fluid {
      img {
        margin-left: 0;
      }
    }
  }
}
